@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@source "../views/**/*.blade.php";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@theme {
    /* Font family */
    --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
    --font-weight-normal: 300;
    --font-weight-semibold: 400;
    --font-weight-bold: 500;

    /* Colors */
    --color-*: initial;

    --color-white: hsl(0, 0%, 100%);

    --color-purple-500: hsl(235, 45%, 61%);
    --color-purple-600: hsl(246, 80%, 60%);
    --color-purple-700: hsl(264, 64%, 52%);

    --color-orange: hsl(15, 100%, 70%);
    --color-blue: hsl(195, 74%, 62%);
    --color-pink: hsl(348, 100%, 68%);
    --color-green: hsl(145, 58%, 55%);
    --color-yellow: hsl(43, 84%, 65%);

    --color-navy-200: hsl(236, 100%, 87%);
    --color-navy-900: hsl(235, 46%, 20%);
    --color-navy-950: hsl(226, 43%, 10%);
}

